/* for simple web index.html */

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Play', sans-serif;
}
html    {
    scroll-behavior: smooth;
}
    
body{
    background: #d3d3d3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.nav{
    background: repeating-linear-gradient(to right,#006897, #62CDF6,  #006897);
    width: 100%;
    padding: 20px 70px;
    display: block;
    position: fixed;
    max-height: 400px;
    z-index: 100;
}
.nav div{
    display: inline-block;
    vertical-align: middle;
}
.nav-bland {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
}

.nav-bland .fas {
    size: 20px;
    vertical-align: middle;
}

.fa-tint{
    color:#ffffff;
    padding-right: 10px;
}

.nav-lists{
    width: calc(100% - 200px);
    text-align: right;
    display: inline-block;
}

.nav-list{
    text-align: right;
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}
.nav-list__item{
    list-style: none;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 8px 17px;
    color: #ffffff;
    transition: 0.5s ease;
    text-decoration: none;

}

.nav-list .nav-list__item:hover,
.nav-list .nav-list__item:hover {
    background: #ffffff4d;
}
.nav-list__item--active{
    list-style: none;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.377);
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 8px 17px;
    color: #ffffff;
    transition: 0.5s ease;
    text-decoration: none;
}
.button {
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ffffff;
    transition: 0.7s ease;
}

.button:hover.button,
.button:active {
    background: #ffffff4d;
}