/* for simple web index.html */

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Play', sans-serif;
    /* font-style: italic; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
html    {
    scroll-behavior: smooth;
}
    
body{
    /* background-image: url(../images/background.png); */
    background: #cfcfcf;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.nav{
    background:repeating-linear-gradient(to right,#006897, #62CDF6,  #006897);
    /* background: radial-gradient(#62CDF6 , #006897); */
    width: 100%;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    position: fixed;
    z-index: 1;
    
}
.nav .nav-bland {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    
}

.nav .nav-bland .fas {
    size: 20px;
    animation: spin 2s linear 2;
    vertical-align: middle;
}
@keyframes spin {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

.fa-tint{
    color:#ffffff;
    padding-right: 10px;
}


.nav-lists{
    width: calc(100%-70PX);


}
.nav-list{
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
    
}
.nav-list .nav-list__item{
    list-style: none;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 8px 17px;
    color: #ffffff;
    transition: 0.5s ease;
    text-decoration: none;

}

.nav-list .nav-list__item:hover,
.nav-list .nav-list__item:hover {
    background: #ffffff4d;
}
.nav-list__item--active{
    list-style: none;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.377);
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 8px 17px;
    color: #ffffff;
    transition: 0.5s ease;
    text-decoration: none;
}
.button {
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ffffff;
    transition: 0.7s ease;
}

.button:hover.button,
.button:active {
    background: #ffffff4d;
}