
.centent{
    background-image: url(../images/background.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 95px 70px;
    width: 100%;
    height: 300px;
    color: white;
    position: relative;
    z-index: 0;
}
.centent div {
    width: 50%;
}
.centent .header{
    font-size: 50px;
    font-weight: 900;
}
.centent p {
    padding-top: 50px;
}
.centent button{
    margin-top: 20px;
    animation: 3s left-Right linear infinite;
}

@keyframes left-Right {
    0%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-5px);
    }
}
#items{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    justify-content: space-around;
    position: relative;
}
.item {
    width: 32%;
    padding: 1px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(160, 160, 160, 0.164);
}
.item-profile{
    margin: 5px;
    width: 50px;
    width: 50px;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    background-color: #d1d1d1;
}
#items .item .item-image{
    width: 100%;
}
#items .item .item-content{
    padding: 0px 5px;
    /* background-color: #f5f5f5; */
}
.item-button{
    font-size: 15px;
    background-color: #006897;
    /* border: 2px solid #62CDF6; */
    border-radius: 0px;
    padding: 8px 15px;
    display: block;
    position: ab;
    bottom: 0px;
    width: 100%;
    margin: 20px 0px;
    transition: 0.8s ease;
}
.item-button:hover {
    background-color: #005075;
}
.item-button a{
    text-decoration: none;
    color: #ffffff;
}
.footer{
    background: repeating-linear-gradient(to right,#006897, #62CDF6,  #006897);
    width: 100%;
    position: sticky;
    
    /* height: 100px; */
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.footer .footer-content {
    padding: 20px;
    
}

.footer .footer-content h3{
    color: #005075;
}
.footer .footer-content i{
    padding-right: 10px;
}
.footer .footer-content a,
.footer .footer-content i{
    text-decoration: none;
    display: flex;
    line-height: 30px;
    color: white;
}